
  .error-banner {
    margin: 30px auto;
    width: 65%;
    border: 2px #dc3545;
    border-style: dotted;
    padding: 20px;
    background-color: #ffe6e6;
    color: #dc3545;
    font-weight: 500;
    font-size: 0.9em;
  }

  .landing-banner {
    margin: 30px auto;
    width: 65%;
    border: 2px #f2f2f2;
    padding: 25px;
    background-color: #f2f2f2;
    color:#333333;
    font-weight: 500;
    font-size: 0.9em;
  }